@font-face {
  font-family: 'Avenir Next';
  src: url('fonts/AvenirNextforINTUIT-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('fonts/AvenirNextforINTUIT-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('fonts/AvenirNextforINTUIT-Demi.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('fonts/AvenirNextforINTUIT-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

/* Example Usage */
body {
  font-family: 'Avenir Next', sans-serif;
  display: flex;
  justify-content: center;
}

.turbotax-quiz {
  font-family: 'Avenir Next';
  padding: 24px;
  width: 365px;
  text-align: center;
  position: relative;
}

.hidden {
  display: none !important;
}

.quiz-title {
  color: #0097e6;
  font-size: 20px;
  font-weight: 700;
}

.quiz-question {
  font-size: 26px;
  font-weight: 500;
  line-height: 31px;
  white-space: break-spaces;
}

.primary-btn {
  border-radius: 4px;
  background: #0077c5;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  border: none;
  padding: 12px 45px;
  font-family: 'Avenir Next';
  cursor: pointer;
}

.secondary-btn {
  background: #fff;
  font-size: 16px;
  border: none;
  font-family: 'Avenir Next';
  cursor: pointer;
}

.disclaimer {
  margin-top: 30px;
  text-align: left;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #b8b8b8;
  padding: 20px 0;
}

.buttons-container.one {
  border-top: none;
  justify-content: center;
  padding: 0;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 20px;
}

.primary-btn:disabled {
  background: #0077c54d;
}

#question-description {
  text-align: center;
 /*  display: flex; */
  justify-content: center;
}
#question-description p { margin-top: 0px; }

#question-description li {
  text-align: left;
}


label {
  display: flex;
  align-items: center;
  gap: 8px; /* Adds space between the radio button and text */
  justify-content: center;
}

input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #0077c5; /* Blue border */
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-bottom: 3px;
}

input[type="radio"]:checked {
  background-color: #0077c5;
  border: 3px solid white;
  box-shadow: 0 0 0 2px #0077c5;
}


table { width: 100%; }
td { padding: 12px; border-bottom: solid 1px #A7A7A7; font-size: 13px; line-height: 22px; }
td:first-child { border-right: solid 1px #a7a7a7; border-left: solid 1px #a7a7a7; text-align: left;  }
td:last-child { border-right: solid 1px #a7a7a7; }
th { text-align: center; background-color: #D52B1E; color: #FFF; padding: 12px; }
td label { display: table-row-group; }
.tooltipWindow { display: none;}

.tooltip { cursor: pointer; }
.tooltipWindow {
  display: none; /* Initially hidden */
  position: absolute;
  background: white;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  top:27%;
}

.tooltipWindow.show {
  display: block; /* Show when toggled */
  z-index: 999;
  max-width: 90%;
  padding: 70px 20px;
  box-sizing: border-box;
}

.tooltipWindow .close { position: absolute; top: 20px; right: 20px; cursor: pointer;}

#tooltip10 { top:5%; }
#tooltip10 { padding: 40px 20px;}

.text-link { color:#0077c5; }
.button-link { color:#FFF; display: inline-block; margin-bottom: 20px; min-width: 215px; }
.button-link.alt { color:#0077c5; background-color: #FFF; display: inline-block; margin-bottom: 20px; border:2px solid #0077c5; }